Source: php-composer
Section: web
Priority: optional
Maintainer: Ross Duggan <ross.duggan@acm.org>
Build-Depends: debhelper (>= 7), po-debconf, php5-dev
Standards-Version: 3.9.4

Package: php5-composer
Depends: php5-cli
Architecture: any
Description: Dependency Manager for PHP
 Composer is a dependency manager tracking local dependencies of your
 projects and libraries.
 See https://getcomposer.org/ for more information and documentation.
